<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--Hibernate DB configuration-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">${jdbc.url}</property>
        <property name="hibernate.connection.username">${jdbc.username}</property>
        <property name="hibernate.connection.password">${jdbc.password}</property>

        <mapping class="org.appfuse.model.User"/>
        <mapping class="org.appfuse.model.Role"/>
        <mapping resource="org/vetech/lrms/core/models/PersonName.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/PersonAttribute.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/Claims.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/Documents.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/Clients.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/ClientFinance.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/Role.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/Employees.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/PersonAddress.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/EmpExpenditure.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/CaseClasses.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/DocumentLending.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/AppUser.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/Persons.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/Locations.hbm.xml"/>
        <mapping resource="org/vetech/lrms/core/models/JobTitle.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
